.content {
    position: relative;
    color: $black;

    a {
        color: $link;
        text-decoration: underline;
        font-weight: 500;

        &:hover {
            color: $linkHover;
        }

        &:visited {
            color: $link;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 18px;
        line-height: 130%;
    }

    h1 {
        font-size: 42px;
        font-weight: 700;

        @media (max-width: 960px) {
            font-size: 38px;
        }

        @media (max-width: 768px) {
            font-size: 32px;
        }
    }

    h2 {
        font-weight: 600;
        font-size: 38px;

        @media (max-width: 960px) {
            font-size: 34px;
        }

        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    h3 {
        font-weight: 400;
        font-size: 32px;

        @media (max-width: 960px) {
            font-size: 28px;
        }

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    h4 {
        font-weight: 400;
        font-size: 24px;

        @media (max-width: 960px) {
            font-size: 20px;
        }
    }

    h5 {
        font-weight: 400;
        font-size: 20px;
    }

    .table__wrapper {
        @media (max-width: 768px) {
            overflow-x: auto;

            table {
                min-width: 660px;
            }
        }
    }

    &.no-mobile {
        .table__wrapper {
            @media (max-width: 768px) {
                overflow-x: hidden;

                table {
                    min-width: auto !important;
                    font-size: 10px !important;
                    line-height: 120%;
                }

                p {
                    line-height: 120%;
                    font-size: 10px !important;
                }
            }

            @media(max-width: 400px) {
                table {
                    font-size: 9px !important;
                    line-height: 115%;
                }

                p {
                    line-height: 115%;
                    font-size: 9px !important;
                }
            }
        }
    }

    table {
        border: 1px solid #eee;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 20px;
    }

    table th {
        font-weight: bold;
        padding: 5px;
    }

    table td {
        padding: 5px 10px;
        border: 1px solid #9c9c9c;
        text-align: left;
        vertical-align: middle;
        background: #ffffff;

        @media(max-width: 400px) {
            padding: 2px 4px;
        }
    }

    table tbody tr:first-child,
    table tbody tr:last-child {
        background: #fff;
    }

    p {
        display: block;
        font-size: 16px;
        margin-bottom: 16px;
    }

    ul{
        padding: 12px 0 12px 18px;

        li {
            position: relative;
            padding-bottom: 16px;

            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: -16px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $link;
            }
        }
    }

    ol {
        counter-reset: count;
        list-style-type: none;
        padding: 12px 0 12px 18px;

        li {
            position: relative;
            padding-bottom: 16px;

            &:last-child {
                padding-bottom: 0;
            }

            &::before {
                counter-increment: count;
                content: counters(count,".") ". ";
                position: absolute;
                top: 0;
                left: -16px;
                color: $link;
            }
        }
    }

    img {
        max-width: 660px;
        margin: 20px auto;
        display: inline-block;
    }
}